<app-modal [isOpen]="isAddTicketModalOpen | async" [title]="'Add A New Ticket'"
           (cancelEvent)="onAddTicketCancel()"
           (confirmEvent)="onAddTicketConfirm()">
  <app-add-ticket></app-add-ticket>
</app-modal>

<app-modal [isOpen]="isDeleteTicketModalOpen | async" [title]="'Delete Ticket'"
           (cancelEvent)="onDeleteTicketCancel()"
           (confirmEvent)="onDeleteTicketConfirm()">
  <app-delete-ticket></app-delete-ticket>
</app-modal>

<app-modal [isOpen]="isEditTicketModalOpen | async" [title]="'Edit Ticket'"
           (cancelEvent)="onEditTicketCancel()"
           (confirmEvent)="onEditTicketConfirm()">
  <app-edit-ticket></app-edit-ticket>
</app-modal>

<app-modal [isOpen]="isResolveTicketModalOpen | async" [title]="'Resolve Ticket'"
           (cancelEvent)="onResolveTicketCancel()"
           (confirmEvent)="onResolveTicketConfirm()">
  <app-resolve-ticket></app-resolve-ticket>
</app-modal>


<div class="bg-gray-100 flex justify-center min-h-screen">
  <div class="w-full max-w-7xl bg-white shadow-lg rounded-lg p-8 my-4">
    <div class="flex justify-between w-full">
      <h2 class="text-2xl font-bold text-gray-800">Tickets</h2>
      <div class="flex gap-4 items-center mb-6">
        <button type="submit"
                class="bg-indigo-500 hover:bg-indigo-600 text-white font-semibold py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50"
                (click)="onCreateNewTicket()">
          Create New Ticket
        </button>
        <button type="submit"
                class="bg-indigo-500 hover:bg-indigo-600 text-white font-semibold py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50"
                (click)="onLogout()">
          Logout
        </button>
      </div>
    </div>


    <!-- Tickets Table -->
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white border border-gray-200 rounded-lg">
        <thead>
        <tr class="w-full bg-gray-100 border-b">
          <th class="text-left py-3 px-4 font-semibold text-gray-700">Title</th>
          <th class="text-left py-3 px-4 font-semibold text-gray-700">Description</th>
          <th class="text-left py-3 px-4 font-semibold text-gray-700">Date Opened</th>
          <th class="text-left py-3 px-4 font-semibold text-gray-700">Status</th>
          <th class="text-left py-3 px-4 font-semibold text-gray-700">Date Closed</th>
          <th class="text-left py-3 px-4 font-semibold text-gray-700">Actions</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngIf="(listTicketsState | async)?.isLoading">
          <td colspan="6" class="text-center text-slate-800 border-b hover:bg-gray-50 py-3">
            <div id="spinner" class="w-full flex justify-center py-2">
              <div class="w-6 h-6 border-4 border-t-white border-indigo-500 rounded-full animate-spin"></div>
            </div>
          </td>
        </tr>

        <tr *ngIf="(listTicketsState | async)?.errorMsg">
          <td colspan="6" class="text-center text-slate-800 border-b hover:bg-gray-50 py-3">
            There was an error loading tickets
          </td>
        </tr>

        <tr *ngIf="(listTicketsState | async)?.tickets?.length == 0">
          <td colspan="6" class="text-center text-slate-800 border-b hover:bg-gray-50 py-3">
            No tickets found
          </td>
        </tr>
        <tr class="border-b hover:bg-gray-50" *ngFor="let ticket of (listTicketsState | async)?.tickets || []">
          <td class="py-3 px-4 text-slate-800">{{ ticket.title }}</td>
          <td class="py-3 px-4 text-slate-800">{{ ticket.description }}</td>
          <td class="py-3 px-4 text-sm">
            <span class="font-semibold text-slate-600"> {{ ticket.created_at | date }} </span>
          </td>
          <td class="py-3 px-4 text-sm">
            <span class="text-green-500 font-semibold" *ngIf="ticket.is_resolved">Resolved</span>
            <span class="text-red-500 font-semibold" *ngIf="!ticket.is_resolved">Not Resolved</span>
          </td>
          <td class="py-3 px-4 text-sm">
            <span class="font-semibold text-slate-600"> {{ ticket.resolved_at | date }} </span>
          </td>
          <td class="py-3 px-4">
            <button (click)="onResolveTicket()"
                    class="bg-indigo-500 hover:bg-indigo-600 text-white text-xs font-semibold py-1 px-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50 mr-2">
              Resolve
            </button>
            <button (click)="onEditTicket()"
                    class="bg-white hover:bg-indigo-600 hover:text-white text-indigo-500 text-xs font-semibold py-1 px-3 rounded-lg focus:ring-2 focus:outline-none ring-2 ring-indigo-500 ring-opacity-50 mr-2">
              Edit
            </button>
            <button (click)="onDeleteTicket()"
                    class="bg-red-500 hover:bg-red-600 text-white text-xs font-semibold py-1 px-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50">
              Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
